<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.bknk.user.UserMapper">
    <insert id="join">
        INSERT INTO t_user
            (email, pw, nm, nick, authCd, provider)
        VALUES
            (#{email}, #{pw}, #{nm}, #{nick}, #{authCd}, #{provider})
    </insert>
    <select id="selUser" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE email = #{email}
          AND provider = #{provider}
          AND authCd IS NULL
    </select>
    <select id="selIUser" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE iuser = #{iuser}
          AND authCd IS NULL
    </select>
    <select id="selLocalEmail" resultType="UserEntity">
        SELECT email FROM t_user
        WHERE provider = 'local'
    </select>
    <update id="auth">
        UPDATE t_user
        SET authCd = null
        WHERE email = #{email} AND authCd = #{authCd}
    </update>
    <update id="updMainProfile">
        UPDATE t_user
        SET mainProfile = #{mainProfile}
        WHERE iuser = ${iuser}
    </update>
    <update id="updUser">
        UPDATE t_user
        <set>
            <if test="mainProfile != null and mainProfile != ''">
                mainProfile = #{mainProfile}
            </if>
            <if test="pw != null and pw != ''">
                pw = #{pw}
            </if>
            <if test="nm != null and nm != ''">
                nm = #{nm}
            </if>
            <if test="nick != null and nick != ''">
                nick = #{nick}
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender}
            </if>
            <if test="birthY != null and birthY != ''">
                birthY = #{birthY}
            </if>
            <if test="birthM != null and birthM != ''">
                birthM = #{birthM}
            </if>
            <if test="birthD != null and birthD != ''">
                birthD = #{birthD}
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel}
            </if>
        </set>
        WHERE iuser = #{iuser}
    </update>
</mapper>