<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/feedCont.css">
</th:block>
<th:block layout:fragment="js">
    <script defer src="/js/feed/feedList.js"></script>
    <script defer src="/js/feed/hot.js"></script>
</th:block>

<th:block layout:fragment="content">
    <div class="pageTitle">
        <i class="fas fa-heart pointer"></i>
        <div>인기 게시글 </div>
    </div>
        <div id="feedContainer" class="contW935"></div>
        <div id="pagingContainer"></div>
</th:block>

</html>