<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<head><title>회원정보수정</title></head>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/edit.css}">
</th:block>
<th:block layout:fragment="js">
    <script defer th:src="@{/js/user/edit.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <div class="contW600 shadow" th:with="auth=${#authentication.getPrincipal().getUser()}">
        <div th:if="${param.result != null and param.result[0] =='1'}" class="red">프로필이 저장되었습니다.</div>
        <div th:if="${param.result != null and param.result[0] =='2'}" class="red">비밀번호가 변경되었습니다.</div>
        <h1>프로필 편집</h1>
        <div>
            <div><input type="file" id="selProfileImg" name="profileImg" accept="image/*"></div>
            <img th:unless="${auth.mainProfile == null || auth.mainProfile == ''}" id="btnMainImgDel" class="mainProfileImg profile wh200 pointer" th:src="@{/pic/user/{iuser}/{img}(iuser=${auth.iuser},img=${auth.mainProfile})}">
            <img th:if="${auth.mainProfile == null || auth.mainProfile == ''}" class="mainProfileImg profile wh200" th:src="@{/img/profile.png}">
            <div><input type="button" id="btnUpload" value="등록" disabled></div>
        </div>

        <div id="modProfileCont" th:object="${userEntity}">
            <div class="categoryItem disabled"><aside>이메일</aside><input type="text" th:field="*{email}"disabled></div>
<!--            이메일은 일단은 못바꾸게 막음 후에 ajax로 따로 처리하던지 할것-->
            <form id="editFrm" th:action="@{edit}" method="post"  onsubmit="return profileFrmChk()">
                <!--            id와 name 자동들어감-->
                <div>
                    <div class="categoryItem"><aside>이름</aside> <input type="text" th:field="*{nm}" maxlength="10" required> </div>
                    <div id="chkNick" class="red"></div>
                    <div class="categoryItem"><aside>닉네임</aside><input type="text" th:field="*{nick}" maxlength="10" required> </div>
                    <div class="categoryItem"><aside>성별</aside>
                        <div>
                            <select th:field="*{gender}">
                                <option value="-1">선택</option>
                                <th:block th:if="${auth.gender eq '1'}">
                                    <option th:text="남자" th:value=1 selected></option>
                                    <option th:text="여자" th:value=2></option>
                                </th:block>
                                <th:block th:if="${auth.gender eq '2'}">
                                    <option th:text="남자" th:value=1></option>
                                    <option th:text="여자" th:value=2 selected></option>
                                </th:block>
                                <th:block th:unless="${auth.gender eq '1' || auth.gender eq '2'}">
                                    <option th:text="남자" th:value=1></option>
                                    <option th:text="여자" th:value=2></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="categoryItem"><aside>전화번호</aside><input type="text" th:field="*{tel}" pattern="\d{3}-\d{3,4}-\d{4}" title="형식 : 000-0000-0000 또는 000-000-0000"> </div>
                    <div class="categoryItem">
                        <aside>생년월일</aside>
                        <div>
                            <select class="border-r" th:field="*{birthY}">
                                <option value="-1">선택</option>
                                <th:block th:each="n:${#numbers.sequence(1900,2025)}">
                                    <option th:if="${n eq auth.birthY}"th:text="${n}" th:value="${n}" selected></option>
                                    <option th:unless="${n eq auth.birthY}"th:text="${n}" th:value="${n}"></option>
                                </th:block>
                            </select>
                            <select class="border-r" th:field="*{birthM}">
                                <option value="-1">선택</option>
                                <th:block th:each="n:${#numbers.sequence(1,12)}">
                                    <option th:if="${n eq auth.birthM}"th:text="${n}" th:value="${n}" selected></option>
                                    <option th:unless="${n eq auth.birthM}"th:text="${n}" th:value="${n}"></option>
                                </th:block>
                            </select>
                            <select th:field="*{birthD}">
                                <option value="-1">선택</option>
                                <th:block th:each="n:${#numbers.sequence(1,31)}">
                                    <option th:if="${n eq auth.birthD}"th:text="${n}" th:value="${n}" selected></option>
                                    <option th:unless="${n eq auth.birthD}"th:text="${n}" th:value="${n}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pointer password"><i class="fas fa-user-cog"></i> 비밀번호 변경</div>
                <div>
                    <div id="chkProfileFrm" class="red"></div>
                    <input type="submit" class="btn pointer" value="수정">
                </div>
            </form>
<!--프사지우기모달-->
            <div id="profileImg-modal" class="modal hide">
                <div>
                    <div class="modal_close_parent"><div>현재 사진을 삭제하시겠습니까?</div><i class="modal_close fas fa-times"></i></div>
                    <input type="button" id="btnDel" class="btn pointer" value="네">
                </div>
            </div>
<!--비밀번호 모달-->
            <div id="password-modal" class="modal hide">
                <div>
                    <div class="modal_close_parent"><div>비밀번호 변경</div><i class="modal_close fas fa-times"></i></div>

                    <form id="pwEditFrm" th:action="@{edit}" method="post" th:object="${userEntity}" onsubmit="return pwFrmChk()">
                        <div class="categoryItem"><aside>현재 비밀번호</aside><input type="password" name="oldPw" required> </div>
                        <div class="categoryItem"><aside>새 비밀번호</aside><input type="password" th:field="*{pw}" required> </div>
                        <div class="categoryItem"><aside>새 비밀번호 확인</aside><input type="password" name="chkPw" required> </div>
                        <div id="chkPwResult" class="red"></div>
                        <div>
                            <input type="submit" class="btn" value="수정">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>