<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<head><title>회원가입</title></head>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
</th:block>
<th:block layout:fragment="js">
    <script defer th:src="@{/js/user/join.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <div class="contW480">
        <div class="logoCont">
            <span class="logo"><i class="fas fa-bus"> BKNK</i></span>
            <div class="red" th:if="${param.result != null and param.result[0]=='2'}">사용할 수 없는 닉네임입니다. 다른 닉네임을 사용하세요.</div>
        </div>

        <div class="loadingParent">
            <form  id="joinFrm" th:action="@{join}" method="post" th:object="${userEntity}" onsubmit="return frmChk()">
                <!--            id와 name 자동들어감-->
                <div>
                    <div><input type="email" th:field="*{email}" placeholder="이메일" maxlength="50" autofocus required></div>
                    <div><input type="password" th:field="*{pw}" placeholder="비밀번호" required> </div>
                    <div><input type="password" name="pwChk" placeholder="비밀번호 확인"> </div>
                    <div><input type="text" th:field="*{nm}" placeholder="이름" maxlength="10" required> </div>
                    <div><input type="text" th:field="*{nick}" placeholder="닉네임" maxlength="10" required> </div>
                </div>

                <div>
                    <div id="chkFrmResult"></div>
                    <input type="submit" class="btn pointer" value="회원가입">
                </div>
            </form>
            <div class="loading hide"><img th:src="@{/img/loading.gif}"></div>
        </div>

        <div class="social-container">
            <div> 간편 회원가입 :
                <a class="social" th:href="@{/oauth2/authorization/naver}">네이버</a>
                <a class="social" th:href="@{/oauth2/authorization/kakao}">카카오</a>
                <a class="social" th:href="@{/oauth2/authorization/google}">구글</a>
                <a class="social" th:href="@{/oauth2/authorization/facebook}">페이스북</a>
            </div>
        </div>

    </div>
</th:block>
</html>

<!--                <div>-->
<!--                    선택항목-->
<!--                    <div id="genderChk">-->
<!--                        성별 :-->
<!--                        <label>남<input type="radio" th:field="*{gender}" value="0"></label>-->
<!--                        <label>여<input type="radio" th:field="*{gender}" value="1"></label>-->
<!--                    </div>-->
<!--                    <div><input type="tel" th:field="*{tel}" placeholder="전화번호"></div>-->
<!--                </div>-->