<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/subscriptions.css}">
</th:block>
<th:block layout:fragment="js">
</th:block>
<th:block layout:fragment="content">
  <div class="contW935" th:with="auth=${#authentication.getPrincipal().getUser()}">
      <div id="subscriptionCont_left">
          <div th:text="${auth.nick}"></div>
          <img th:unless="${auth.mainProfile == null || auth.mainProfile == ''}" class="pointer mainProfileImg profile wh150" th:src="@{/pic/user/{iuser}/{img}(iuser=${auth.iuser},img=${auth.mainProfile})}">
          <img th:if="${auth.mainProfile == null || auth.mainProfile == ''}" class="pointer mainProfileImg profile wh150" th:src="@{/img/profile.png}">
      </div>
      <div id="subscriptionCont_right" class="shadow">
          <div id="subscriptionCont_right_header">구독</div>
          <div id="subscriptionListCont">
              <div>aa1</div>
              <div>aa2</div>
              <div>aa3</div>
              <div>aa4</div>
              <div>aa5</div>
              <div>aa6</div>
              <div>aa7</div>
              <div>aa8</div>
              <div>aa9</div>
              <div>aa0</div>
              <div>aa1</div>
              <div>aa2</div>
              <div>aa3</div>
              <div>aa4</div>
              <div>aa5</div>
              <div>aa6</div>
              <div>aa7</div>
              <div>aa8</div>
              <div>aa9</div>
              <div>aa</div>
          </div>
      </div>
  </div>
</th:block>
</html>