<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/subscriptions.css}">
</th:block>
<th:block layout:fragment="js">
    <script defer th:src="@{/js/common.js}"></script>
    <script defer th:src="@{/js/user/subscriptionsBtn.js}"></script>
    <script defer th:src="@{/js/user/subscriptions.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <div class="contW935" th:with="auth=${#authentication.getPrincipal().getUser()}">
        <div id="subscriptionCont_left">
            <div th:text="${auth.nick}"></div>
            <img th:unless="${auth.mainProfile == null || auth.mainProfile == ''}" class="pointer mainProfileImg profile wh150" th:src="@{/pic/user/{iuser}/{img}(iuser=${auth.iuser},img=${auth.mainProfile})}">
            <img th:if="${auth.mainProfile == null || auth.mainProfile == ''}" class="pointer mainProfileImg profile wh150" th:src="@{/img/profile.png}">
        </div>
        <div id="subscriptionCont_right" class="shadow">
            <div id="subscriptionCont_right_header">구독</div>
            <div id="subscriptionListCont"></div>
        </div>
    </div>
    <!--구독취소모달-->
    <div class="cancel_subscription-modal modal hide">
        <div>
            <div class="modal_close_parent"><div>구독을 취소하시겠습니까?</div><i class="modal_close fas fa-times"></i></div>
            <input type="button" class="btnCancel btn pointer" value="네">
        </div>
    </div>
</th:block>
</html>