/*.pageTitle { min-width: 350px; height: 70px; font-size: 28px; font-weight: bold; color: #5F5F5F; padding-left: 30px; display: flex; align-items: center; justify-content: center; !*background-color: #c7c7c7;*! !*border-bottom: 1px solid #c7c7c7;*! gap: 18px; margin-bottom: 50px;}*/

/*#feedContainer a span > img{width: 100%;}*/
/*.favDiv{display: flex; justify-content: space-between; align-items: center; margin: 0 20px;}*/
/*.favDiv > a{display: flex;}*/
/*.favDiv > a >img{width: 30px; border-radius: 50%   }*/
/*.favDiv > i{font-size: 30px; color: red;}*/
/*#feedContainer{display: grid; grid-template-columns: repeat(3, minmax(auto,auto)); gap: 30px 65px;}*/
/*#feedContainer > div{box-shadow: 8px 8px 8px -4px #dfe6e9;}*/
/*#feedContainer a span{margin: 20px 20px; display: flex; flex-direction: column; justify-content: center;*/
/*    align-items: center;}*/
/*#feedContainer a span div.title{text-align: center; text-overflow: ellipsis; font-size: 16px;*/
/*}*/

/*@media screen and (max-width: 760px) {*/
/*    #feedContainer{display: grid; grid-template-columns: repeat(1, minmax(400px,auto)); }*/
/*    #feedContainer > div{margin: 0 auto}*/

/*}*/