*{box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
html,body{margin: 0; padding: 0; height: 100%; font-family: 'Noto Sans KR', sans-serif;}
ul{ padding: 0; margin: 0;}
#container{display: flex; flex-direction: column; min-height: 100%;width: 100%;}
section{flex:1; display: flex; flex-direction: column; background-color: #f5f5f5; }
a{text-decoration: none; color: black; }
ul,ol,li{list-style: none}

header{ height: 60px; background-color:#fafafa; position: fixed; padding-left: 20px; padding-right: 20px; width: 100%; box-shadow: 0 4px 4px -4px #dfe6e9; z-index: 105;}
nav{ display: flex; gap: 25px; height: 100%; max-width: 1024px; margin: auto; align-items: center;}
.header__left {
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__left a i{font-size: 25px;
    background: linear-gradient(to right, #ff4692, #84e7f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*!*추가부분*!*/
/*.header__center{flex-basis: 70%; display:flex; align-items: center;}*/
/*.header__center ul{display: flex; justify-content: space-evenly; align-items: center; padding: 0; margin: 0; flex-basis: 100%;}*/
/*!*.header__center ul >li{flex-basis: 50%;}*!*/
/*.header__center ul li form{display:flex;}*/
/*.header__center ul li form select{width: 50px; font-family: 'Noto Sans KR', sans-serif;}*/
/*.header__center ul li form button{width: 30px; border: none; border-bottom-right-radius: 50%; border-top-right-radius: 50%}*/
/*.header__center ul li form input{width: 250px; padding: 0; margin: 0; background-color: #eee; border: none;}*/
/*!*추가부분*!*/

.header__center{
    flex: 8 0;
    font-weight: 700;
    padding-right: 20px;
}
.header__center ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.header__center ul .searchBox{  border-radius: 9px; border: 1px solid #c7c7c7; padding: 5px 5px 5px 8px;}
.header__center ul .searchBox form{ display: flex; align-items: center; justify-content: center;}
.header__center ul .searchBox select{ color: #5F5F5F; border: none; background-color: rgba(0,0,0,0); }
.header__center ul .searchBox input { color: #5F5F5F; border: none; background-color: rgba(0,0,0,0);}
.header__center ul .searchBox button{ color: #898989; border: none; background-color: rgba(0,0,0,0);}
.header__center ul li a {color: #575757; font-size: 17px;}
.header__right {
    /*flex: 1 0;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__right ul{ padding: 0;}
.header__right .menus {display: flex; gap: 13px; font-size: 15px; font-weight: 400;}
.header__right ul .menus a { color: #898989; }
.dropdown_menu{
    display: none;
    width: 180px;
    background-color: #757575;
    position: absolute;
    top: 55px;
    padding-top: 4px;
    z-index: 100;
    border-radius: 6px;
    margin-top: 15px;
}
.dropdown_menu .b__border{ border-bottom: 1px solid #c7c7c7; padding-bottom: 8px;}
.dropdown_menu ul{
    display: flex; flex-direction: column; gap: 10px; padding: 17px 0; justify-content: center;
}
.dropdown_menu ul li {padding-left: 10px;}
.dropdown_menu ul li:nth-child(1){ display: flex; align-items: center; justify-content: space-between; padding: 5px 20px 10px 12px;}
.dropdown_menu ul li:nth-child(1) .fa-bell{ font-size: 21px;}
.dropdown_menu ul li:nth-child(1) .fa-comment-dots{font-size: 21px;}
.dropdown_menu ul li a{
    color: #f1f1f1;
}
.dropdown_menu.active{
    display: block;
}

/*#wrap{ padding-top: 100px; min-width: 1190px;}*/
#wrap{ display: flex; flex-direction: column; padding-top: 60px; width: 100%; flex-grow: 1; min-height: 90vh;}


footer{ background-color:#303740; color: #fafafa; text-align: center;}
#footerCnt .footer_top{ padding-bottom: 40px; border-bottom: 1px solid #cfd8dc;}
#footerCnt .footer_bottom{ padding: 10px 0;}
#footerCnt .footer_bottom h5{ padding-bottom: 15px;}
#footerCnt ul{ padding: 0; display: flex; gap: 100px; justify-content: center;}
#footerCnt ul li { display: flex; flex-direction: column;}
#footerCnt ul li img { width: 170px; height: 210px; object-fit: cover; border-radius: 8px;
    border: 5px solid #455a64; margin: 9px 0;}

input[type="submit"]:disabled{
    pointer-events: none;
    color: #fafafa;
}
.btn{ background-color: #cfcfcf; }
.btn:hover{ opacity: 70%; cursor: pointer;}
.btn:active{ opacity: 90%; }
.subscriptionBtn{ border: none; width: 70px; height: 27px; font-weight: 400; color: #424242; background-color: #fdc2d7; border-radius: 7px;}
.DoSubscriptionBtn {background-color: white; border: 2.5px solid #fdc2d7;}
.DoSubscriptionBtn:hover{ background-color: #fdc2d7;}

.pointer{cursor: pointer;}

.Container {width: 1130px; margin: 0 auto 50px auto; padding: 20px 30px; min-height:100%;}
.contW935{ width: 100%; max-width: 935px; margin: 50px auto; flex-grow: 1;  /*background-color: #fafafa;*/}
.contW480{ width: 100%; max-width: 480px; margin: 0 auto 50px; padding: 10px 30px; }
.contW600{ width: 100%; max-width: 600px; margin: 50px auto; padding: 10px 55px 20px 60px; }

.profile { object-fit: cover; border-radius: 50%; border: 1px solid #8e8e8e;}

.wh30 { width: 30px; height: 30px; }
.wh40 { width: 40px; height: 40px; }
.wh50 { width: 50px; height: 50px; }
.wh150 { width: 150px; height: 150px; }
.wh200 { width: 200px; height: 200px; }

.loadingParent{
    position: relative;
}
.loading {
    position: absolute;
    height: 100%; top: 0; left: 0;
    width: 100%;
    z-index: 100;
    display: flex; align-items: center; justify-content: center;
}
.loading img { width: 80px;}

.hide{display:none !important;}
.modal{z-index: 100; position: fixed; top:0; left:0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.3);  display: flex; justify-content: center; align-items: center; }
.modal > div {width: 550px; background-color: #fafafa; border-radius: 10px; padding: 0 20px 20px 20px;}
.modal_close_parent{display: flex; height: 15%; justify-content: space-between; padding: 4% 1% 2% 1%; border-bottom: 1px solid #c7c7c7; margin-bottom: 10px;}
.modal_close_parent > div {font-size: 120%; font-weight: bold;}
.modal_close_parent .modal_close{color: #6d6d6d; font-size: 120%; cursor:pointer;}

.shadow{background-color: #fafafa; box-shadow: 8px 8px 8px -4px #dfe6e9; border-radius: 15px;}
.red { padding: 10px 0 0 3px; color: red; font-weight: bolder; font-size: 14px;}


/*경욱 추가*/
.fa-circle{font-size:1px; color: red; padding: 1px;}