*{box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
html,body{margin: 0; padding: 0; height: 100%; font-family: 'Noto Sans KR', sans-serif;}
#container{display: flex; flex-direction: column; min-height: 100%;width: 100%;}
section{flex:1; display: flex; flex-direction: column; background-color: #f5f5f5;}
a{text-decoration: none; color: black; }
ul,ol,li{list-style: none}

header{ height: 50px; background-color:#fafafa; position: fixed; padding-left: 20px; padding-right: 20px; width: 100%; box-shadow: 0 4px 4px -4px #dfe6e9;}
nav{ display: flex; height: 100%; width: 100%; align-items: center;}
.header__left {
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__left a i{font-size: 25px;
    background: linear-gradient(to right, #ff4692, #84e7f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__center{
    display: flex;
    justify-content: space-between;
    flex: 1 0;
    padding-left: 50px;
}
.header__center input{
    background-color: #c7c7c7;
    border-radius: 8px;

    border: none;
    padding: 5px 0;
}

.header__right {
    flex: 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__right .menus {display: flex;}
.header__right .menus li{ padding-right: 15px;}
.dropdown_menu{
    display: none;
    width: 180px;
    background-color: #757575;
    position: absolute;
    right: 0;
    padding-top: 4px;
    z-index: 100;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 10px;
}
.dropdown_menu ul{
    padding: 15px;
}
.dropdown_menu ul li a{
    color: #eceff1;
}
.dropdown_menu.active{
    display: flex;
}

/*#wrap{ padding-top: 100px; min-width: 1190px;}*/
#wrap{ display: flex; flex-direction: column; padding-top: 50px; width: 100%; flex-grow: 1;}


footer{ background-color:#303740; height: 80px; color: #fafafa; }

input[type="submit"]:disabled{
    pointer-events: none;
    color: #fafafa;
}
.btn{ background-color: #cfcfcf; }
.btn:hover{ opacity: 70%; cursor: pointer;}
.btn:active{ opacity: 90%; }
.subscriptionBtn{ border: none; width: 70px; height: 27px; font-weight: 400; color: #424242; background-color: #fdc2d7; border-radius: 7px;}
.DoSubscriptionBtn {background-color: white; border: 2.5px solid #fdc2d7;}
.DoSubscriptionBtn:hover{ background-color: #fdc2d7;}

.pointer{cursor: pointer;}

.Container {width: 1130px; margin: 0 auto 50px auto; padding: 20px 30px; min-height:100%;}
.contW935{ width: 100%; max-width: 935px; margin: 50px auto; flex-grow: 1;  /*background-color: #fafafa;*/}
.contW480{ width: 100%; max-width: 480px; margin: 0 auto 50px; padding: 10px 30px; }
.contW600{ width: 100%; max-width: 600px; margin: 50px auto; padding: 10px 55px 20px 60px; }

.profile { object-fit: cover; border-radius: 50%; border: 1px solid #8e8e8e;}

.wh30 { width: 30px; height: 30px; }
.wh50 { width: 50px; height: 50px; }
.wh150 { width: 150px; height: 150px; }
.wh200 { width: 200px; height: 200px; }

.loadingParent{
    position: relative;
}
.loading {
    position: absolute;
    height: 100%; top: 0; left: 0;
    width: 100%;
    z-index: 100;
    display: flex; align-items: center; justify-content: center;
}
.loading img { width: 80px;}

.hide{display:none !important;}
.modal{z-index: 100; position: fixed; top:0; left:0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.3);  display: flex; justify-content: center; align-items: center; }
.modal > div {width: 550px; background-color: #fafafa; border-radius: 10px; padding: 0 20px 20px 20px;}
.modal_close_parent{display: flex; height: 15%; justify-content: space-between; padding: 4% 1% 2% 1%; border-bottom: 1px solid #c7c7c7; margin-bottom: 10px;}
.modal_close_parent > div {font-size: 120%; font-weight: bold;}
.modal_close_parent .modal_close{color: #6d6d6d; font-size: 120%; cursor:pointer;}

.shadow{background-color: #fafafa; box-shadow: 8px 8px 8px -4px #dfe6e9; border-radius: 15px;}
.red { padding: 10px 0 0 3px; color: red; font-weight: bolder; font-size: 14px;}